:root {
  --drkBackground-color: #1f2937;
  --mainText-color: #f9faf8;
  --secondText-color: #e7e5eb;
  --btnBackground-color: #3882f6;
  --infoText-color: #1f2937;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}


.head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid  darkblue;
  height: 150px;
}

.logo-img {
  /* padding-left: 40px; */
  width: 150px;
  height: 150px;
}

.head-spacer {
  width: 300px;
}

.nav-list {
  /* padding-right: 40px; */
  gap: 20px;
  display: flex;
  justify-content: space-between;
}

.nav-item {
list-style-type: none;
}

.nav-link {
  font-size: 1.4rem;
  text-decoration: none;
}

.info-img {
  width: 100px;
  height: 100px;
}

