:root {
  /* hero & footer */
  --background-color: #1f2937;
  /* main text color */
  --main-color: #f9faf8;
  /* secondary text color & header link */
  --second-color: #e7e5eb;
  /* button background color */
  --button-color: #3882f6;
  --info-color: #1f2937;
  

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}


button {
  margin: 20px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid var(--info-color);
  background-color: var(--button-color);
}

hr {
  border-bottom: 2px solid var(--button-color);
}


#head {
  display: flex;
  justify-content: space-around;
  background-color: var(--background-color);
  align-items: center;
  height: 75px;
  padding: 40px;
}

#hero {
  padding: 60px;
  background-color: var(--background-color);
  display: flex;
  height: 460px;
  justify-content: space-around;
  align-items: center;
}

#info {
  padding: 20px;
  height: 460px;
}

#quote {
  height: 300px;  
  }
  
.logo-img {
  width: 70px;
  height: 70px;
}

.head-spacer {
  width: 300px;
}

.nav-list {
  gap: 20px;
  display: flex;
  justify-content: space-between;
}

.nav-item {
  padding: 0 10px; 
  list-style-type: none;
}

.nav-link {
  padding: 0 10px;
  font-size: 18px;
  text-decoration: none;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.main-text {
  color: var(--main-color);
  font-size: 38px;
  padding: auto 0;
}

.secondary-text {
  width: 350px;
  /* padding: 15px 30px;
  margin: 10px 20px; */
  font-size: 18px;
  color: var(--second-color);
}

.hero-img-div {
  padding: 20px;
}

.hero-img {
  margin: 40px;
  padding: 40px;
  width: 500px;
  height: 325px;
}

.info-text {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 20px;
  margin-top: 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-img-div {
  width: 160px;
  height: 160px;
  border-radius: 30px;
  border: 2px solid #4c006d;
  margin: 20px;
}

.info-img {
  border-radius: 30px;
  width: 100%;
  height: 100%;
}

.info-img-text {
  padding: 10px 0;
  text-align: center;
}


.quote-text {
  margin: 38px;
  padding: 38px;
  font-weight: 200;
  font-size: 2.4rem;
  text-align: center;
  font-style: italic;
}

.quote-author {
  color: darkslategray;
  float: right;
  font-size: smaller;
  margin-left: 20px;
  text-align: right;
}
